<legend>User Information</legend>
<div>
  <!-- First Name -->
  <div class="row">
    <div class="col-3">First Name</div>
    <div class="col">{{ user.firstName }}</div>
  </div>

  <!-- Last Name -->
  <div class="row">
    <div class="col-3">last Name</div>
    <div class="col">{{ user.lastName }}</div>
  </div>

  <!-- Email -->
  <div class="row">
    <div class="col-3">Email</div>
    <div class="col">{{ user.email }}</div>
  </div>

  <!-- Zip Code -->
  <div class="row">
    <div class="col-3">Zip Code</div>
    <div class="col">{{ user.zipCode }}</div>
  </div>

</div>
